html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  margin: 0; }

html, body, div, ul, li, p {
  margin: 0;
  padding: 0;
  border: 0;
  margin-before: 0;
  margin-after: 0; }

ul, li {
  text-decoration: none;
  list-style: none;
  margin: 0; }

button {
  margin: 0;
  padding: 0; }

h6 {
  font: bold 18px Lato,sans-serif; }

header {
  width: 100%;
  background: url(images/headerimage.png) no-repeat center;
  background-size: auto;
  margin: 0 auto; }

#nav {
  margin: 0 auto; }

#nav .left {
  height: 61px;
  margin-left: 13%; }

#nav .right {
  float: right;
  margin-top: -20px;
  margin-right: 13%; }
  #nav .right p {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    font-family: Lato, sans-serif;
    padding-top: 7%;
    color: white;
    padding-right: 11%; }
  #nav .right .signup {
    padding-right: 30px; }
  #nav .right #menu {
    width: 14px;
    height: 10px;
    display: inline-block; }
  #nav .right .clearfix {
    overflow: auto; }

.center {
  text-align: center;
  margin-top: 18%;
  color: #fff;
  padding-bottom: 14.1%; }
  .center li h3 {
    font: italic 36px "Times New Roman",serif;
    margin: 0 auto; }
  .center li h1 {
    font-family: Lato, Arial, sans-serif;
    font-size: 100px;
    margin: 0 auto; }
  .center button {
    border: 3px solid #fff;
    color: white;
    font-family: Lato,sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background: none;
    width: 280px;
    height: 68px;
    margin: 30px 0 35px 0; }
  .center li p {
    font-family: Lato,sans-serif;
    font-size: 14px;
    margin: 0 auto; }
  .center u {
    font-weight: bold; }

#icons {
  text-align: center; }
  #icons ul {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 2%;
    margin: 4.3% 0; }
  #icons ul li {
    text-align: center;
    padding: 3px; }
  #icons li img {
    width: 107px;
    height: 107px; }
  #icons .border {
    border-bottom: 1px solid #f26c4f;
    width: 60px;
    text-align: center;
    margin: 0 auto;
    padding: 0; }
  #icons li p {
    font-family: Lato, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding-top: 10px;
    line-height: 25px; }

#Fudiapp {
  width: 100%;
  background-color: #f7f7f7;
  margin: 0 auto; }

.container {
  margin: 0 auto;
  width: 74%; }

.iphone {
  width: 548px;
  height: 780px;
  background: url(images/iphone.png);
  background-size: cover;
  display: inline-block;
  margin-top: 9%;
  vertical-align: middle; }

.Intro {
  display: inline-block;
  vertical-align: top;
  padding-left: 9%;
  margin-top: 15%; }
  .Intro .border {
    border-bottom: 1px solid #f26c4f;
    width: 60px;
    padding-top: 5px; }
  .Intro li p {
    font-family: Lato,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    padding-top: 7px; }
  .Intro .google {
    display: inline-block;
    padding: 5px;
    margin-left: -3px; }
  .Intro .google img {
    width: 112px;
    height: 39px; }

#Quotes {
  background: url(images/quotebackground.png) no-repeat center;
  text-align: center; }
  #Quotes img {
    border-radius: 2px solid #958b94;
    padding-top: 5%; }
  #Quotes aside {
    color: rgba(255, 255, 255, 0.3);
    font-family: Lato,sans-serif;
    font-size: 30px;
    font-weight: 100;
    padding-top: 1%;
    line-height: 45px; }
  #Quotes p.name {
    color: rgba(255, 255, 255, 0.3);
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 100;
    padding-top: 1%;
    padding-bottom: 7.6%; }

.browse {
  width: 100%;
  margin: 0 auto;
  font-size: 0; }
  .browse h6 {
    text-align: center;
    font-weight: normal;
    margin-top: 5%; }
  .browse .border {
    border-bottom: 1px solid #f26c4f;
    width: 75px;
    text-align: center;
    margin: 0 auto;
    padding-top: 3px; }
  .browse .cuisines {
    margin: 0;
    margin-top: 3%; }
  .browse li {
    text-align: center;
    color: #fff;
    display: inline-block;
    max-width: 20%;
    position: relative; }
  .browse li p {
    padding-top: 23%;
    font-size: 15.37px;
    font-family: "Times New Roman",serif;
    font-style: italic; }
  .browse li h3 {
    font-size: 36px;
    font-family: Lato,sans-serif;
    font-weight: bold; }
  .browse .italian {
    background: url(images/italian.png) no-repeat;
    width: 320px;
    height: 225px; }
  .browse .indian {
    background: url(images/indian.png) no-repeat;
    width: 320px;
    height: 225px; }
  .browse .french {
    background: url(images/french.png) no-repeat;
    width: 320px;
    height: 225px; }
  .browse .steakhouse {
    background: url(images/steakhouse.png) no-repeat;
    width: 320px;
    height: 225px; }
  .browse .seafood {
    background: url(images/seafood.png) no-repeat;
    width: 320px;
    height: 225px; }
  .browse .sushi {
    background: url(images/sushi.png) no-repeat;
    width: 320px;
    height: 225px; }
  .browse .mexican {
    background: url(images/mexican.png) no-repeat;
    width: 320px;
    height: 225px; }
  .browse .chinese {
    background: url(images/chinese.png) no-repeat;
    width: 320px;
    height: 225px; }
  .browse .pizza {
    background: url(images/pizza.png) no-repeat;
    width: 320px;
    height: 225px; }
  .browse .american {
    background: url(images/american.png) no-repeat;
    width: 320px;
    height: 225px; }

#bottom-browse {
  margin: 0 auto;
  width: 83%; }

.stats {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  padding: 3.56% 5.33%; }
  .stats li {
    max-width: none; }
  .stats h3 {
    color: #000; }
  .stats p {
    font: 300 16px Lato, sans-serif;
    color: #000;
    padding-top: 0; }

#footer {
  width: 100%;
  border-top: 1px solid #e2e2e2;
  background-color: #f7f7f7;
  margin: 0 auto; }

.copyright {
  color: #8b8b8b;
  font: 300 14px Lato, sans-serif;
  margin-left: 13%;
  display: inline-block;
  vertical-align: middle;
  padding: 2.5% 0; }

.website {
  color: #8b8b8b;
  font-family: Lato, sans-serif;
  font-size: 14px;
  float: right;
  margin-right: 12.3%;
  display: inline-block;
  vertical-align: middle;
  padding: 2.5% 0; }
  .website span {
    color: #636363; }

/*# sourceMappingURL=styles.css.map */
