html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  margin: 0; }

html, body, div, ul, li, p {
  margin: 0;
  padding: 0;
  border: 0;
  margin-before: 0;
  margin-after: 0; }

ul, li, a {
  text-decoration: none;
  list-style: none;
  margin: 0; }

button {
  margin: 0;
  padding: 0; }

h6 {
  font: bold 18px Lato,sans-serif; }

header {
  width: 100%;
  background: url(images/headerimage.png) no-repeat center;
  background-size: auto;
  margin: 0 auto; }

#nav {
  margin: 0 auto; }

#nav .left {
  height: 61px;
  margin-left: 13%; }

#nav .right {
  margin-top: -20px;
  margin-left: 76.5%; }
  #nav .right p {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    font-family: Lato, sans-serif;
    padding-top: 7%;
    color: white; }
  #nav .right li {
    display: inline-block;
    padding-right: 5%; }
  #nav .right #hamburger {
    display: inline-block; }
  #nav .right .clearfix {
    overflow: auto; }

.center {
  text-align: center;
  margin-top: 18%;
  color: #fff;
  padding-bottom: 14.1%; }
  .center h3 {
    font: italic 36px "Times New Roman",serif;
    margin: 0 auto; }
  .center h1 {
    font-family: Lato, Arial, sans-serif;
    font-size: 100px;
    margin: 0 auto; }
  .center button {
    border: 3px solid #fff;
    color: white;
    font-family: Lato,sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background: none;
    width: 280px;
    height: 68px;
    margin: 30px 0 35px 0; }
  .center p {
    font-family: Lato,sans-serif;
    font-size: 14px;
    margin: 0 auto; }
  .center a {
    text-decoration: none;
    color: #fff; }
  .center u {
    font-weight: bold; }
  .center u:hover {
    color: #ccc; }

button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 19px;
  cursor: pointer; }

#icons {
  text-align: center; }
  #icons ul {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 2%;
    margin: 4.3% 0; }
  #icons ul li {
    text-align: center;
    padding: 3px; }
  #icons li img {
    width: 107px;
    height: 107px; }
  #icons .border {
    border-bottom: 1px solid #f26c4f;
    width: 60px;
    text-align: center;
    margin: 0 auto;
    padding: 0; }
  #icons li p {
    font-family: Lato, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding-top: 10px;
    line-height: 25px; }

#fudiapp {
  width: 100%;
  background-color: #f7f7f7;
  margin: 0 auto; }

.container {
  margin: 0 auto;
  width: 78%; }

.iphone {
  width: 44.5%;
  height: auto;
  background: url(images/iphone.png) no-repeat left center;
  background-size: auto 100%;
  display: inline-block;
  margin-top: 9%;
  vertical-align: bottom;
  padding-bottom: 63.2%; }

.intro {
  display: inline-block;
  vertical-align: top;
  padding-left: 9%;
  margin-top: 15.3%; }
  .intro .border {
    border-bottom: 1px solid #f26c4f;
    width: 60px;
    padding-top: 5px; }
  .intro p {
    font-family: Lato,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    padding-top: 7px; }
  .intro .google {
    display: inline-block;
    padding: 5px;
    margin-left: -3px; }
  .intro .google img {
    width: 112px;
    height: 39px; }

#testimonials {
  background: url(images/quotebackground.png) no-repeat center;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 28.8125%;
  text-align: center;
  min-height: 461px; }

.dots {
  position: absolute;
  bottom: 15%;
  margin-left: 50%;
  z-index: 20;
  cursor: pointer; }

#slides {
  width: 301vw;
  position: absolute;
  overflow: hidden;
  -webkit-transition: left 1s;
  z-index: 10;
  left: 0vw; }
  #slides li {
    display: inline-block;
    width: 100vw;
    text-align: center;
    padding-top: 1.5%; }
  #slides .headshot {
    width: 114px;
    border: 4px solid #958b94;
    border-radius: 50%; }
  #slides .quote {
    color: rgba(255, 255, 255, 0.3);
    font-family: Lato,sans-serif;
    font-size: 30px;
    font-weight: 100;
    padding-top: 1%;
    line-height: 45px; }
  #slides p.name {
    color: rgba(255, 255, 255, 0.3);
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 100;
    padding-top: 1%;
    padding-bottom: 7.6%; }

.active {
  background-color: #fff;
  border-radius: 50%; }

#browse {
  width: 100%;
  margin: 0 auto;
  font-size: 0; }
  #browse h6 {
    text-align: center;
    font-weight: normal;
    margin-top: 5%; }
  #browse .border {
    border-bottom: 1px solid #f26c4f;
    width: 75px;
    text-align: center;
    margin: 0 auto;
    padding-top: 3px; }

.cuisines {
  margin: 0;
  margin-top: 3%; }
  .cuisines li {
    text-align: center;
    color: #fff;
    display: inline-block;
    max-width: 20%;
    position: relative; }
  .cuisines li p {
    padding-top: 23%;
    font-size: 15.37px;
    font-family: "Times New Roman",serif;
    font-style: italic; }
  .cuisines li h3 {
    font-size: 36px;
    font-family: Lato,sans-serif;
    font-weight: bold; }
  .cuisines a {
    color: #fff; }
  .cuisines .italian {
    background: url(images/Italian.png) no-repeat;
    width: 320px;
    height: 225px; }
  .cuisines .indian {
    background: url(images/Indian.png) no-repeat;
    width: 320px;
    height: 225px; }
  .cuisines .french {
    background: url(images/French.png) no-repeat;
    width: 320px;
    height: 225px; }
  .cuisines .steakhouse {
    background: url(images/Steakhouse.png) no-repeat;
    width: 320px;
    height: 225px; }
  .cuisines .seafood {
    background: url(images/Seafood.png) no-repeat;
    width: 320px;
    height: 225px; }
  .cuisines .sushi {
    background: url(images/Sushi.png) no-repeat;
    width: 320px;
    height: 225px; }
  .cuisines .mexican {
    background: url(images/Mexican.png) no-repeat;
    width: 320px;
    height: 225px; }
  .cuisines .chinese {
    background: url(images/Chinese.png) no-repeat;
    width: 320px;
    height: 225px; }
  .cuisines .pizza {
    background: url(images/Pizza.png) no-repeat;
    width: 320px;
    height: 225px; }
  .cuisines .american {
    background: url(images/American.png) no-repeat;
    width: 320px;
    height: 225px; }

#bottom-browse {
  margin: 0 auto;
  width: 84%;
  text-align: center; }
  #bottom-browse .stats {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding: 4.3% 1%; }
  #bottom-browse li {
    width: 20%; }
  #bottom-browse h3 {
    font-size: 36px;
    font-family: Lato,sans-serif;
    font-weight: bold;
    color: #000; }
  #bottom-browse p {
    font: 300 16px Lato, sans-serif;
    color: #000;
    padding-top: 0; }

#footer {
  width: 100%;
  border-top: 1px solid #e2e2e2;
  background-color: #f7f7f7;
  margin: 0 auto; }

.copyright {
  color: #8b8b8b;
  font: 300 14px Lato, sans-serif;
  margin-left: 13%;
  display: inline-block;
  vertical-align: middle;
  padding: 2.5% 0; }

.website {
  color: #8b8b8b;
  font-family: Lato, sans-serif;
  font-size: 14px;
  float: right;
  margin-right: 12.3%;
  display: inline-block;
  vertical-align: middle;
  padding: 2.5% 0; }
  .website span {
    color: #636363; }

@media screen and (max-width: 1355px) {
  .intro {
    padding-left: 5%; } }
@media screen and (max-width: 1255px) {
  .iphone {
    background-position: center;
    width: 90%; } }
@media screen and (max-width: 1024px) {
  .intro {
    margin-top: 6.3%; }

  .cuisines li h3 {
    font-size: 25px; }

  .cuisines li p {
    padding-top: 36%; } }
@media screen and (max-width: 780px) {
  #nav .right {
    margin-left: 65%; }

  #browse {
    width: 83%; }

  .cuisines li h3 {
    font-size: 30px; }

  .cuisines li p {
    padding-top: 23%; }

  .cuisines li {
    max-width: 50%; }

  #slides {
    width: 304vw; }
    #slides li {
      padding-top: 2.5%; }
    #slides .quote {
      font-size: 24px; }

  #bottom-browse .stats {
    display: none; } }
@media screen and (max-width: 400px) {
  .center h3 {
    font-size: 30px; }
  .center h1 {
    font-size: 80px; }
  .center button {
    width: 220px;
    height: 60px; } }
@media screen and (max-width: 320px) {
  #nav .left {
    margin-left: 32%; }

  .right {
    display: none; }

  .center h3 {
    font-size: 30px; }
  .center h1 {
    font-size: 76px; }
  .center p {
    font-size: 11px; }

  .iphone {
    display: none; }

  .intro .google {
    padding: 0; }

  #testimonials {
    display: none; }

  .cuisines li {
    max-width: 100%; }

  #bottom-browse {
    display: none; }

  .website {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
